body{
  background-color: #B88C9E;
  font-size: 16px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}

h1 {
  color: #362C28;
  text-align: center;
  font-size: 4.4rem;
  margin-bottom: 6%;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.musicBoxes {
  display: block;
  text-align: center;
  cursor: pointer;
}

.box {
  display: inline-block;
  background-color: #704C5E;
  color: #F1C8DB;
  padding: 31px 56px;
  margin: 4px;
  font-size: 3.5rem;
  font-family: 'Merriweather Sans', sans-serif;
}


.active {
  background-color: #F1C8DB;
  color: #704C5E;
  cursor: pointer;
}

/*.box:hover, .box:focus, .box:active {
  background-color: #F1C8DB;
  color: #704C5E;
  cursor: pointer;
}*/






/*#704C5E;*/
/*#F1C8DB*/
